{{#*inline "pageLink"}}
  <a class="page-link {{ activeClass }}" href={{ href }}>{{ name }}</a>
{{/inline}}

<div>
  <div class="links top-links">
    {{> pageLink pages.[0] }}
    {{> pageLink pages.[1] }}
    {{> pageLink pages.[2] }}
    {{> pageLink pages.[3] }}
  </div>

  <img class="main-image" src={{imgUrl}}>

</div>
