$iconColor: #2F596D;
$iconWidth: 14vh;

@import "bourbon";
@import "neat";

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.icon-wrapper {
  max-width: 400px;
  margin: 0 auto;
}

.icon-box {
  display: inline-block;
  width: $iconWidth;
  min-width: 40px;
  svg {
    width: 100%;
    height: 100%;
    &.icon-animate {
      position: absolute;
    }
  }
}

.icon-copy {
  opacity: 0.4;
}

.email {
  #front-square {
    transition: fill-opacity 0.20s;
  }
  &:hover {
    #front-square {
      fill-opacity: 1;
    }
  }
}

.email {
  height: 20vh;
  svg {
    // connecting lines in the box
    &.depressed {
      line {
        /* stroke: pink; */
        /* display: none; */
      }
    }
    path {
      stroke-width: 11;
      stroke: $iconColor;
    }
  }
}

.question {
  font-family: 'Lato', sans-serif;
  color: $iconColor;
  font-size: 4em;
  display: inline-block;
  position: relative;
  bottom: 0.1em;
}

.main-hr {
  color: #05385F;
  margin: 0 auto;
  top: 7em;
  position: absolute;
  width: 47%;
  left: 27%;
}

#content {
  text-align: center;
}

.main-text-top {
  top: 0;
}

.main-text.main-text-bottom {
  bottom: 0;
  letter-spacing: 0.6em;
  padding-left: 0.1em;
}

.main-text {
  //font-family: 'VT323', sans-serif;
  font-family: 'Source Code Pro', sans-serif;
  margin-top: 2em;
  color: #05385F;
  position: absolute;
  width: 100%;
  //text-transform: uppercase;
  z-index: 2;
  text-align: center;
  font-size: 2em;
  //font-weight: 100;
  //letter-spacing: 0.1em;
  //word-spacing: 0.3em;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.main-image-wrapper {
  z-index: 1;
  height: 70vh;
  a {
    // fix the wierd background leak issue
    &::before {
      content: " ";
      position: absolute;
      z-index: 99;
      top: -3px;
      left: 0;
      right: 0;
      bottom: -4px;
      border-top: 5px solid white;
      border-bottom: 5px solid white;
    }
    display: inline-block;
    height: 50vh;
    width: 50vh;
    max-height: 350px;
    max-width: 350px;
    position: relative;
    top: 50%;
    transform: translateY(-40%);
  }
}

.main-image {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  background: linear-gradient(304deg, #f8f292, #07bed8, rgb(253, 87, 144), #ffa849, #f8f292);
  /*background: linear-gradient(304deg, #f8f292, #07bed8, #EF4D42, #ffa849, #f8f292);*/
  background-size: 100%;
}

.links {
  text-align: center;
  font-size: 2em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 15vh;
}

.links a {
  display: inline-block;
  width: 24%;
}

.links .active {
  color: pink;
}


@media screen and (max-height: 550px) {
  .main-image {
//    height: 70%;
//    transform: translateY(-50%);
  }
}
