@import "_common.scss";

.main-image {
  background-size: 100%;
  -webkit-animation: EvilColor 27s ease infinite;
  -moz-animation: EvilColor 27s ease infinite;
  -o-animation: EvilColor 27s ease infinite;
  animation: EvilColor 10s ease infinite;
}
