body {
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

@-webkit-keyframes PaletteColor {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@-moz-keyframes PaletteColor {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@-o-keyframes PaletteColor {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}
@keyframes PaletteColor {
    0%{background-position:0% 49%}
    50%{background-position:100% 52%}
    100%{background-position:0% 49%}
}

.main-image {
  height: 95vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(304deg, #f8f292, #07bed8, #0a5a96, #ef3e32, #ffa849, #f8f292);
  background-size: 600% 600%;
  -webkit-animation: PaletteColor 27s ease infinite;
  -moz-animation: PaletteColor 27s ease infinite;
  -o-animation: PaletteColor 27s ease infinite;
  animation: PaletteColor 10s ease infinite;
}

.links {
  text-align: center;
  font-size: 2em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 15vh;
}

.links a {
  display: inline-block;
  width: 24%;
}

.links .active {
  color: pink;
}
