body {
  font-family: 'Raleway', sans-serif; }

#content {
  text-align: center; }

.main-text-top {
  top: 0; }

.main-text.main-text-bottom {
  bottom: 0;
  letter-spacing: 0.6em;
  padding-left: 0.1em; }

.main-text {
  margin-top: 2em;
  color: #05385F;
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  z-index: 2;
  text-align: center;
  font-size: 2em;
  font-weight: 100;
  letter-spacing: 0.1em;
  word-spacing: 0.3em; }

a {
  text-decoration: none;
  text-transform: uppercase; }

.main-image-wrapper {
  z-index: 1;
  height: 95vh; }

.main-image {
  height: 320px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  margin: 0 auto;
  background: linear-gradient(304deg, #f8f292, #07bed8, #fd5790, #ffa849, #f8f292);
  /*background: linear-gradient(304deg, #f8f292, #07bed8, #EF4D42, #ffa849, #f8f292);*/
  background-size: 100%; }

.links {
  text-align: center;
  font-size: 2em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 15vh; }

.links a {
  display: inline-block;
  width: 24%; }

.links .active {
  color: pink; }

@-webkit-keyframes EvilColor {
  0% {
    background-position: 0% 49%; }
  50% {
    background-position: 100% 52%; }
  100% {
    background-position: 0% 49%; } }

@-moz-keyframes EvilColor {
  0% {
    background-position: 0% 49%; }
  50% {
    background-position: 100% 52%; }
  100% {
    background-position: 0% 49%; } }

@-o-keyframes EvilColor {
  0% {
    background-position: 0% 49%; }
  50% {
    background-position: 100% 52%; }
  100% {
    background-position: 0% 49%; } }

@keyframes EvilColor {
  0% {
    background-position: 0% 49%; }
  50% {
    background-position: 100% 52%; }
  100% {
    background-position: 0% 49%; } }

.main-image {
  background-size: 600%;
  -webkit-animation: EvilColor 10s ease infinite;
  -moz-animation: EvilColor 10s ease infinite;
  -o-animation: EvilColor 10s ease infinite;
  animation: EvilColor 10cs ease infinite; }
